extends base

block content
    if errorMessage
        span(style="color:red")=errorMessage
    form(method="POST")
        input(type="text", required, name="name", placeholder="name")
        input(type="text", required, name="username", placeholder="username")
        input(type="email", required, name="email", placeholder="email")
        input(type="password", required, name="password", placeholder="password")
        input(type="password", required, name="password2", placeholder="password")
        input(type="submit", required, value="Join")
    hr
    div
        span 이미 가입되셨나요?
        a(href="/login") Log in now &rarr;
