extends base

block content
    if errorMessage
        span(style="color:red")=errorMessage
    form(method="POST")
        input(type="text", required, name="username", placeholder="username")
        input(type="password", required, name="password", placeholder="password")
        input(type="submit", value="Login")
        include partial/social-login
    div.auth-switch
        span 계정이 없으신가요?
        a(href="/join") Create now &rarr;