header 
    nav 
        li 
            a(href="#") Login
        li 
            a(href="#") Join
        li 
            a(href="/videos/upload") Upload video
        li 
            a(href="#") logout
        li 
            a(href="#") Edit Profile